@import "../../theme";

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 32px;
  height: 32px;
  background-color: $primary;
  border-radius: 10%;
  margin-right : 10px;
}
.dot{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color:white;
}
