@import "../../theme";

.number-atom {
  font-weight: bold;
  padding: 8px;
  width: 38px;
  border-radius: 32px;
  background-color: $grey-lighter;
}

.additional {
  background-color: $primary;
  color: white;
}
